.page {
  margin: 0 auto;
  padding: 70px 10px 10px;
  max-width: 1280px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  --color: #93e793;
  --colorHover: #ff00af;
  --colorActive: #61edf5;
  --colorShadow: #c2c2c2;
  --colorTitle: #3d008d;
  --colorText: #0f0022;
  --colorBackground: #fff;
}
