.header__menu-item {
  margin: 5px 5px 0 0;
  padding: 2px 7px 2px 10px;
  position: relative;
  border-radius: 0 45px/ 0 50px;
  box-shadow: 0 0 2px var(--colorShadow);
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-item::after {
  content: "";
  margin: 0 2px;
  z-index: -1;
  position: absolute;
  left: 50%;
  bottom: 3px;
  height: 1px;
  width: 0;
  border-bottom: solid var(--colorHover) 1px;
  transform: translate(-50%, 0);
  transition: width 0.3s ease-in-out;
}

.header__menu-item:hover::after {
  width: calc(100% - 16px);
}
