.simple-figures__item {
  margin: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  --colorFigure: var(--color);
}

.simple-figures__item:hover {
  box-shadow: 0 0 5px 2px var(--colorShadow);
  --colorFigure: var(--colorActive);
  transform: scale(1.5);
}
